* {
  margin: 0;
  padding: 0;
  background-color: salmon;
  color: white;
}
body { 
  font-family: serif;
}
.App {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: salmon;
  padding: 10px;
}
.navbar{
  margin: 20px;
}
.navbar h1{
  width: 100%;
  padding-top: 20px;
  background-color:salmon;
  display: flex;
  justify-content: center;
  color: green;
  font-size: 2.5rem;
}

.select_container{
  padding: 2rem;
  width: fit-content;
  margin-top: 15px;
  display: block;
}

.select_container select, input{
  height: 35px;
  border-radius: 5px;
  margin: 3px;
  background-color: white;
  color: blue;
  padding: 10px;
}
.select_container select option{
  height: 1rem;
  border-radius: 5px;
  margin: 1rem;
  background-color: rgb(233, 230, 230);
  color: blue;
  padding: 1rem;
}
.select_container select {
  padding: 7px;
}


.container{
  width: 100%;
  height: auto;
  background-color: darkcyan;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 40px;
}

.noData{
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.card{
  width: 215px;
  height: 350px;
  background-color: whitesmoke;
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 2px;
  
}
.card-title{
  background-color: whitesmoke;
  padding: 5px;
  margin: 5px;
}

.card-title h3{
  color: purple;
  background-color: whitesmoke;
}

@media screen and (max-width: 800){
  .App {
    
    width: 80%;
    
  }
}